{% extends "base.html" %}

{% block content %}
<h1>{{ message }}</h1>
<label>Select Week:<select name="form" onchange="location = this.value;">
    <option value="{{ url_for('main.myscores', week=0) }}" selected>None</option>
    <option value="{{ url_for('main.myscores', week=1) }}">1</option>
    <option value="{{ url_for('main.myscores', week=2) }}">2</option>
    <option value="{{ url_for('main.myscores', week=3) }}">3</option>
    <option value="{{ url_for('main.myscores', week=4) }}">4</option>
    <option value="{{ url_for('main.myscores', week=5) }}">5</option>
    <option value="{{ url_for('main.myscores', week=6) }}">6</option>
    <option value="{{ url_for('main.myscores', week=7) }}">7</option>
    <option value="{{ url_for('main.myscores', week=8) }}">8</option>
    <option value="{{ url_for('main.myscores', week=9) }}">9</option>
    <option value="{{ url_for('main.myscores', week=10) }}">10</option>
    <option value="{{ url_for('main.myscores', week=11) }}">11</option>
    <option value="{{ url_for('main.myscores', week=12) }}">12</option>
    <option value="{{ url_for('main.myscores', week=13) }}">13</option>
</select>
</label>
<br>
<h1 class="title">
  Scores for {{ name }}:
</h1>
<div class="profile-scores"></div>
{% endblock %}

{% block script %}
      <script type="text/javascript">
         profileScores({{selectionDisplay|tojson}}, {{correctSelections|tojson}}, {{totalScore}}, {{incorrectSelections|tojson}}, {{week}})
      </script>
{% endblock %}
